@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-bg-primary: #2a2f4f;
  --color-bg-primary2: #3e4575;
  --color-text-secondery: #b1b1b1;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-border1: #747474;
  --color-border2: #ffc300;
  --color-button: #e90064;
  --color-hover: #c00053;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg-primary);
}
.container {
  width: 80%;
  margin: 0 auto;
}
.main-header {
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border1);
  position: sticky;
  top: 0;
  /* z-index: 5; */
}
#all-tags {
  scroll-margin-top: 71px;
}
.main-nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
}
/* .module_number {
  color: #ff0000;
} */
.nav_title a {
  text-decoration: none;
  color: var(--color-white);
  /* color: #00a2e5;
  color: #ffc300; */
}
.main-nav ul li {
  display: inline-block;
  list-style: none;
}
.main-nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 3px;
}
.main-nav ul li a:hover {
  background-color: var(--color-button);
}

.tag-list {
  background-color: #3e4575;
  /* border-bottom: 1px solid var(--color-border2); */
}
.most_used_tags {
  /* height: 500px; */
  display: flex;
  gap: 10px;
  padding-top: 20px;
  color: var(--color-text-secondery);
}
.mut_left,
.mut_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tag-container {
  padding-bottom: 20px;
}
.title {
  color: var(--color-white);
  text-align: center;
  padding: 10px 0;
  background-color: var(--color-bg-primary);
}
.tags {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border: 1px solid var(--color-border1);
  border-top: 0;
}

.tags p {
  text-align: justify;
}

.tags-table {
  width: 100%;
  text-align: left;
}
.tags-table,
th,
tr,
td {
  border: 1px solid var(--color-border1);
  border-collapse: collapse;
}
.tags-table th,
tr,
td {
  padding: 10px;
}

.tags-table th {
  color: var(--color-white);
  background-color: var(--color-bg-primary);
}
.link {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.link a {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-white);
  padding: 10px 20px;
  /* background-color: var(--color-button); */
  border-radius: 10px;
}

.google {
  /* background-image: linear-gradient(to right, #4285f4, #db4437, #f4b400); */
  background-color: #0f9d58;
}
.facebook {
  background-color: #1877f2;
}
.youtube {
  background-color: #ff0000;
}
.link a:hover {
  background-color: var(--color-hover);
}

.images {
  padding-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

/* Form style */
#form-section {
  scroll-margin-top: 71px;
}
.form-section {
  padding-top: 20px;
}
.form-section .title {
  background-color: var(--color-bg-primary2);
}
.form-content {
  display: flex;
  padding-top: 10px;
  color: var(--color-text-secondery);
  align-items: center;
}

.form-let {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-let h2 {
  font-size: 50px;
  color: var(--color-white);
}
.form-let p,
i {
  font-size: 18px;
}

.form-right {
  width: 60%;
}

.reg-form {
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  background: var(--color-bg-primary2);
  border-radius: 8px;
}

.reg-form h1 {
  margin: 20px 0 30px 0;
  text-align: center;
  color: var(--color-white);
}

input[type='text'],
input[type='email'],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: var(--color-bg-primary);
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type='radio'] {
  margin: 0 8px 8px 0;
}

.submit-btn {
  padding: 15px 0;
  color: #fff;
  background-color: var(--color-bg-primary);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  display: inline;
}
#bio {
  resize: none;
}
